<%= button_to "Create Recipe", new_recipe_path, method: :get %>
<ul>
<%@recipes.each do |recipe|%>
<li>
<div>
<%= link_to recipe do%>
<%=recipe.name%>
<%end%>
<%= button_to "REMOVE", recipe_path(recipe), method: :delete %>
</div>
<p><%=recipe.description%></p>
</li>
<%end%>
<%%>
</ul>