<div>
<h1><%=@recipe.name%></h1>
<span><%=@recipe.preparation_time%></span>
<span><%=@recipe.cooking_time%></span>
<p><%=@recipe.description%></p>
<%= button_to "Generate shopping list" %>
<%= button_to "Add Ingredient" %>
</div>