<div>
<h1>Shopping List</h1>
<span>Food item to buy: <%=@missing_foods.length%></span>
<span>Total: $<%=@total_value%></span>
<table>
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
  <% @missing_foods.each do |food, quantity|%>
    <tr>
      <td><%=food.name%></td>
      <td><%="#{quantity} #{food.measurement_unit}"%></td>
      <td>$<%=quantity * food.price%></td>
    </tr>
  <%end%>
  </tbody>
</table>
</div>